*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    text-align: center;

}


.dis{
    background-color: tomato;
    width: 100vh;
    height: 100vh;

    display: flex;
    align-self: center;
}