*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    text-align: center;

}


section{
    background-color: aqua;

    height: fit-content;
    width: auto;

    padding: 10pt;
    font-family: 'Lobster', cursive;

}

main{
    background-color: bisque;
    height: 100%;
    width: 100%;

    padding: 5pt;

}

div{
    background: rgb(146, 23, 23);

    margin-bottom: 3pt;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    
}



/* PROFESOR SERANDO */
.servando{
    color: wheat;
    font-size: 50pt;
}


/* DESEARTE UNA MUY */
.deseo{
    color: yellowgreen;
    font-size: 20pt;
}

/* IMAGEN */
.imagen{
    background-color: yellow;
    height: 300px;
    width: 300px;

}


/* ÍCONOS */
.IcHolder{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon{
    background-color: darkmagenta;

    height: 100px;
    width: 100px;

}